.custom_container{
    height: 100px;
    background-color: gray;
    text-align: center;
}

#settings_done{
    position: fixed;
    bottom: 45px;
    right: 45px;
}

#gears{
    position: fixed;
    left: 270px;
}